body{
    margin: 0;
    padding:0;
    display: block;
}

.row{
    background-color:#fb5e33; 
  }

.header-top .nav-link{
    text-align: center;
    color: white;
    margin: auto;
}

.logo{
    text-align: center;
}

/* .///////////////////////////////////////////////////// */

.nav-link:hover{
    color:rgb(184, 178, 156);
}


.middle-navbar{
    background-color:rgb(242,230,188);
    color: white;
    

}
.home-icon{
width: 18px;
height: 18px;

}
.shopping-cart{

widows: 30px;
height: 30px;

}


.dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-menu{

    background-color: rgb(242,230,188);
  }


  .dropdown-item{
text-align: center;

  }

  .dropdown-item:hover{
    background-color:#fb5e33; 
    border-radius: 20%;

   
  }


.bg-dark{
    background-color: #fb5e33  !important;
}
