body{
    background-color: #e4f9f5;
margin: 0;
text-align: center;
font-family: 'Sacramento', cursive;
}
.bawar-img{
position: absolute;
left: 560px;
width: 100px;
height: 100px;

}
.font1{
font-style: italic;
font-family: cursive;
font-size: 1.2rem;
color: #66bfbf;

}
.top-container{
   
    position: relative;
    padding-top: 100px;
}

h1{margin: 0;
width: 20%;
margin: 0 auto ;
font-size: 3rem;
color: #66bfbf;
}
.bavar{
    text-decoration: underline;
}
.cloudbottom{
position: absolute;
left: 300px;
bottom: 300px;

}
.cloudtop{
position: absolute;
right: 300px;
top: 50px;
}

.bawar-img{
border-radius: 50%;

}